.form {

    &.bd-invalid {
        border: 5px solid firebrick;
    }

    &.bd-valid {
        border: 5px solid darkgreen;
    }
}

input[type="text"].form-control {
    &.bd-invalid {
        border-left: 5px solid firebrick;
    }

    &.bd-valid {
        border-left: 5px solid darkgreen;
    }

    &.bd-pristine {
        background-color: palegoldenrod;
    }

    &.bd-dirty {
        background-color: dimgrey;
    }

    &.bd-untouched {
        border-right: 5px solid blueviolet;
    }

    &.bd-touched {
        border-right: 5px solid black;
    }
}

.form-group {
    &.bd-invalid {
        h5 {
            color: red;
        }
    }

    &.bd-valid {
        h5 {
            color: green;
        }
    }
}